<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Inventário Mercadinho - Início</title>
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-vue.css">
    <link rel="stylesheet" type="text/css" href="resources/css/site.css">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    </nav>
    <br /> <br />
    <div id="inicio" class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-dark">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="buscar">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-md-9 ">

                <div class="row">

                    <div class="col-sm">


                        <div class="col-sm  base">
                            <div class="row">
                                <div class="col">
                                    <h4>Produtos</h4>
                                </div>
                                <div class="col">
                                    <b-button variant="primary" v-b-modal.modal-prevent-closing>Adicionar</b-button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div v-for="(produto , index) in listaProdutos">
                                <div class="col">


                                    <div class="card bs-callout-success">
                                        <div class="card-header">
                                            <h5>Produto </h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ produto.nome }}</h5>
                                            <p class="card-text">
                                                Número: {{ produto.id }}<br>
                                                Volume: {{ produto.volume}}<br>
                                                Unidade: {{ produto.unidade }}<br>
                                                Estoque: {{ produto.estoque }}
                                            </p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <button class="btn  btn-sm btn-dark" style="height: 30px"
                                                v-b-modal.modal-prevent-closing v-on:click="alterarProduto(produto.id)">
                                                Alterar
                                            </button>

                                            <button class="btn  btn-sm btn-danger" style="height: 30px"
                                                v-on:click="excluirProduto(produto.id)">
                                                Excluir
                                            </button>

                                        </div>

                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>

                    </div>
                    <!--table class="table">
                        <tr>
                            <th>Nome</th>
                            <th>Fabricante</th>
                            <th>Volume</th>
                            <th>Unidade</th>
                            <th>Estoque</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tbody id="event-table">
                            <tr v-for="produto in listaProdutos">
                                <td>{{ produto.nome }}</td>
                                <td>{{ produto.fabricante.nome }}</td>
                                <td>{{ produto.volume }}</td>
                                <td>{{ produto.unidade }}</td>
                                <td>{{ produto.estoque }}</td>
                                <td><span class="btn btn-warning" @click="">Alterar</span>
                                    <span class="btn btn-danger" v-on:click="excluirProduto(produto.id)">Excluir</span>
                                </td>
                            </tr>
                        </tbody>
                    </table-->
                </div>
            </div>

        </div>
    </div>
    <template>
        <div>
            <b-modal id="modal-prevent-closing" scrollable ref="modal" title="Cadastro de Produto" @show="resetModal"
                @hidden="resetModal" hide-footer>
                <form ref="form" @submit.stop.prevent="handleSubmit">
                    <b-form-group state="nomeState" label="Nome do produto" label-for="nome-input"
                        invalid-feedback="Nome obrigatório">
                        <b-form-input id="name-input" v-model="nome" state="nomeState" required></b-form-input>
                    </b-form-group>
                    <!-- 	<b-form-group inline :state="fabricanteState"
                            label="Nome do fabricante" label-for="fabricante-input"
                            invalid-feedback="Nome do fabricante obrigatório"> <b-form-select
                            id="fabricante-input" v-model="fabricanteNome"
                            :state="fabricanteState" :options="options" required></b-form-select>
                        <b-button variant="primary" @click="Salvar">+</b-button> </b-form-group> -->

                    <b-form-group state="volumeState" label="Volume" label-for="volume-input"
                        invalid-feedback="Volume obrigatório">
                        <b-form-input id="volume-input" v-model="volume" state="volumeState" required></b-form-input>
                    </b-form-group>

                    <b-form-group state="unidadeState" label="Unidade" label-for="unidade-input"
                        invalid-feedback="Unidade obrigatório">
                        <b-form-input id="unidade-input" v-model="unidade" state="unidadeState" required></b-form-input>
                    </b-form-group>

                    <b-form-group state="estoqueState" label="Estoque" label-for="estoque-input"
                        invalid-feedback="Estoque obrigatório">
                        <b-form-input id="estoque-input" type="number" v-model="estoque" state="estoqueState" required>
                        </b-form-input>
                    </b-form-group>
                    <b-button variant="primary" @click="Salvar">Cadastrar</b-button>
                    <b-button @hidden="resetModal">Cancelar</b-button>
                </form>
            </b-modal>
        </div>
    </template>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Jario de Sá</span>
        </div>
    </footer>


    <script src="resources/js/vue.js"></script>
    <script src="resources/js/axios.min.js"></script>
    <script src="resources/js/jquery-3.4.1.min.js"></script>
    <script src="resources/js/bootstrap-vue.js"></script>
    <script src="resources/js/tooltip.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/index.js"></script>
</body>

</html>