<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Cadastrar um novo Produto </title>
  <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-vue.css">
  <link rel="stylesheet" type="text/css" href="resources/css/site.css">
</head>

<body>
  <div id="inicioProduto">
    <b-button v-b-modal.modal-prevent-closing>Open Modal</b-button>

    <template>
      <div>

        <b-modal id="modal-prevent-closing" scrollable ref="modal" title="Cadastro de Produto" @show="resetModal"
          @hidden="resetModal" hide-footer>
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group :state="nomeState" label="Nome do produto" label-for="nome-input"
              invalid-feedback="Nome obrigatório">
              <b-form-input id="name-input" v-model="nome" :state="nomeState" required></b-form-input>
            </b-form-group>
            <b-form-group inline :state="fabricanteState" label="Nome do fabricante" label-for="fabricante-input"
              invalid-feedback="Nome do fabricante obrigatório">
              <b-form-select id="fabricante-input" v-model="fabricanteNome" :state="fabricanteState" :options="options"
                required></b-form-select>
              <b-button variant="primary" @click="Salvar">+</b-button>
            </b-form-group>

            <b-form-group :state="volumeState" label="Volume" label-for="volume-input"
              invalid-feedback="Volume obrigatório">
              <b-form-input id="volume-input" v-model="volume" :state="volumeState" required></b-form-input>
            </b-form-group>

            <b-form-group :state="unidadeState" label="Unidade" label-for="unidade-input"
              invalid-feedback="Unidade obrigatório">
              <b-form-input id="unidade-input" v-model="unidade" :state="unidadeState" required></b-form-input>
            </b-form-group>

            <b-form-group :state="estoqueState" label="Estoque" label-for="estoque-input"
              invalid-feedback="Estoque obrigatório">
              <b-form-input id="estoque-input" type="number" v-model="estoque" :state="estoqueState" required>
              </b-form-input>
            </b-form-group>
            <b-button variant="primary" @click="Salvar">Cadastrar</b-button>
            <b-button @hidden="resetModal">Cancelar</b-button>
          </form>
        </b-modal>
      </div>
    </template>
  </div>
  <!--div class="container">
		<div class="row">
			<div class="col-sm">
				<div id="inicio">
					<b-alert show variant="success">{{mensagem}}</b-alert>
					<form>
						<div class="form-group">
							<label for="nome">Nome do produto</label>
							<b-form-input v-model="nome" placeholder=""></b-form-input>

						</div>
						<div class="form-group">
							<label for="">volume</label>
							<input type="text" class="form-control" placeholder="">
						</div>

						<b-button variant="success" class="btn btn-success" @click="adicionar">Cadastrar</b-button>
						<a class="btn btn-primary" href="index.html">Voltar</a>
					</form>

				</div>
			</div>
		</div>
	</div-->
  <div class="col-sm base-cadastro col col-lg-5">
    <br />
    <div class="container-fluid">
      <h4>Cadastro de Produto</h4>
      <!--div class="col-sm  base">
                          <b-button variant="primary" v-b-modal.modal-prevent-closing>Adicionar</b-button-->
      <!--<a class="btn btn-success" href="novo-produto.html">Adicionar</a> -->
      <!-- <button class="btn btn-success" @click="adicionar">Adicionar</button> >
                        </div-->
      <!-- <template>
                            <div>
                                <form ref="form" @submit.stop.prevent="handleSubmit">
                                    <b-form-group state="nomeState" label="Nome do produto" label-for="nome-input"
                                        invalid-feedback="Nome obrigatório">
                                        <b-form-input id="name-input" v-model="nome" state="nomeState" required>
                                        </b-form-input>
                                    </b-form-group>
                                    <b-form-group inline state="fabricanteState" label="Nome do fabricante"
                                        label-for="fabricante-input" invalid-feedback="Nome do fabricante obrigatório">
                                        <b-form-select id="fabricante-input" v-model="fabricanteNome"
                                            state="fabricanteState" options="options" required></b-form-select>
                                        <b-button variant="primary" @click="Salvar">+</b-button>
                                    </b-form-group>

                                    <b-form-group state="volumeState" label="Volume" label-for="volume-input"
                                        invalid-feedback="Volume obrigatório">
                                        <b-form-input id="volume-input" v-model="volume" state="volumeState" required>
                                        </b-form-input>
                                    </b-form-group>

                                    <b-form-group state="unidadeState" label="Unidade" label-for="unidade-input"
                                        invalid-feedback="Unidade obrigatório">
                                        <b-form-input id="unidade-input" v-model="unidade" state="unidadeState"
                                            required></b-form-input>
                                    </b-form-group>

                                    <b-form-group state="estoqueState" label="Estoque" label-for="estoque-input"
                                        invalid-feedback="Estoque obrigatório">
                                        <b-form-input id="estoque-input" type="number" v-model="estoque"
                                            state="estoqueState" required></b-form-input>
                                    </b-form-group>
                                    <b-button variant="primary" @click="Salvar">Cadastrar</b-button>
                                    <b-button @hidden="resetModal">Cancelar</b-button>
                                </form>
                            </div>
                        </template> -->
    </div>
    <script src="resources/js/vue.js"></script>
    <script src="resources/js/axios.min.js"></script>
    <script src="resources/js/jquery-3.4.1.min.js"></script>
    <script src="resources/js/bootstrap-vue.js"></script>
    <script src="resources/js/tooltip.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/cadastro-de-produtos.js"></script>
</body>



</html>