body {
    background-color: #e0e6eb;
}

.card {
    width: 300px;
}

.base {
    font-size: 1.125rem;
    text-anchor: middle;
    background-color: #ffff;
    padding: 10px;
}

.base-cadastro {
    font-size: 1.125rem;
    text-anchor: middle;
    background-color: #ffff;
    border-left-color: #5cb85c;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.bs-callout {
    padding: 6px;
    margin: 0;
    background-color: white;
    border-left-width: 1px;
    border: 4px solid #eee;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 0px;
}

.bs-callout+.bs-callout {
    margin-top: 0px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h5 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h6 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h6 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h6 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h6 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h6 {
    color: #5bc0de;
}

.card:hover {
    background-color: rgba(255, 250, 250, 0.467)
}

@each $name,
$color in (default, #777),
(primary, #428bca),
(success, #5cb85c),
(danger, #d9534f),
(warning, #f0ad4e),
(info, #5bc0de),
(bdc, #29527a) {
    .callout-# {
        $name;
    }

        {
        border-left-color: $color;
        h4;

            {
            color: $color;
        }

    }
}